.webHeader{
    background: #2B2D42;
    height: 40px;
}

.headerText {
    color: aliceblue;
    text-align: center;
}

body {
    background: white;
}

.fotoDiv {
    height: 200px;
}

.navigationMenu {
    vertical-align: top;
    height: 35px;
    background: #7D98A1;
    text-align: center;
    position: sticky;
}

.menuButton {
    height: 35px;
    background: #A9B4C2;
    border-color: transparent;
    color: #EDEAD0;
    border-bottom-color: black;
    vertical-align: top;
}

.menuButton:hover {
      background-color:#415A77;
      border-bottom-width: thick;
      color: aliceblue;
      transition: 1.2s;
      height: 45px;
}

body {
    background-color: white;
}