iframe {
    width: 100%;
    min-height: 25rem;
    height: 82vh;
}

#logoGHL {
    height: 15rem;
}

tr:nth-child(even) {
    background-color: #EEEEEE;
}

table {
    background-color: white;
    font-size: 20px;
}

th {
    background-color: blue;
    color: white;
}